.p-hero{
    width: 100vw;
    height: 700px;
    background-image: url(./../img/hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
}