.p-sub-imp{
    height: auto;
    margin: 0 auto;
    &__h2{
        margin: 0 auto;
        width: max-content;
        font-size: 36px;
    }
    &__mainCont{
        width: 1000px;
        background-image: url(../../../dist/assets/img/Rectangle_330.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5.5rem;
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    
        .p-sub-imp__mainTextarea{
            box-sizing: border-box;
            color: white;
            width: 50%;
            padding-top: 5.5rem;
            padding-left: 5.5rem;
    h3{
        font-size: 2.8rem;
        margin-bottom: 2.4rem;
    }
    p{
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        margin-top: 1.8rem;
    }
    
        }
        
    }
    span{
        
    }
}