.p-sub-image{
    margin :0 auto;
    max-width: 1000px;
    &__h2{
        margin: 0 auto;
        width: max-content;
    }
    &__contTitle{
        box-sizing: border-box;
        width: 70%;
        margin:0 auto;
        padding: 1rem;
    }
    &__contIn{
        display: flex;
        justify-content: space-between;
          }
          &__textArea{
            width: 40%;
        }
}