$ukuk-color: #ED711A;
$ukuk-color2: #FFA800;
$ukuk-color3: #FF3D00;

html {
    font-size: 62.5%;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    height: 100%;
    font-size: 1.8rem;
    font-family: 'Noto Sans JP', 'Noto Serif JP', sans-serif;
  
    font-feature-settings: "palt";
    letter-spacing: 0.15rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscalle;
    line-height: 1;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: block;
}

@import './layout/_header';
@import './layout/_main';

@import './object/project/_header';
@import './object/project/_hero';
@import './object/project/_youtube';
@import './object/project/_topic';
@import './object/project/_app';
@import './object/project/_sub-imp';
@import './object/project/_sub-image';

@import './object/utility/_visuallyHidden';
@import './object/utility/_clearfix';